* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #fbc2eb, #a6c1ee);
}

.container {
  width: 420px;
  padding: 25px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(12px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.8s ease forwards;
}

h1 {
  text-align: center;
  color: #ff9eb5;
  margin-bottom: 20px;
}

.input-area {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 12px;
  border-radius: 12px;
  border: none;
  outline: none;
  font-size: 16px;
}

button {
  border: none;
  padding: 12px 20px;
  background-color: #ff9eb5;
  color: white;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #ff7a9c;
}

ul {
  list-style: none;
}

li {
  background: white;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: slideIn 0.4s ease;
}

li.completed span {
  text-decoration: line-through;
  opacity: 0.6;
}

.delete-btn {
  color: #ff5c5c;
  cursor: pointer;
  font-size: 18px;
}

@keyframes slideIn {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.97);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.copyright {
  
  text-align: center;
  color: black;
  display: flex;
  position: absolute;
  margin-top: 40%;
}

